/* styles here will be appended to main stylesheet (defined in index.php) */

.header {
    padding-bottom: 0;
}
.description {
    font-size: 12px;
    line-height: 18px;
}

.home-games .list-item {
    border: none;
}

.news .article {
    padding-bottom: 20px;
}
