/* styles here will be appended to main stylesheet (defined in index.php) */

.header {
    padding-bottom: 0;
}
.description {
    font-size: 12px;
    line-height: 20px;
}
.article .header {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
}
.article .content {
    padding-bottom: 10px;
}

.home-games .list-item {
    border: none;
}

.news .article {
    padding-bottom: 20px;
}

.photos .article .content {
    font-size: 12px;
    line-height: 20px;
}
