/* styles here will be appended to main stylesheet (defined in index.php) */
.module {
    background-color: #f4f5ef;
}

.topbar-summer, .summer-bg {
    background-color: #f4f5ef;
}

.topbar-summer .container .logo-container {
    padding-right: 0;
    padding-left: 0;
    border: none;
    background-color: #f4f5ef;
}