{% extends "@tmpl/table-3-columns.html" %}

{% block header %}
    My Header Text Goes Here
{% endblock header %}

{% set items = [
    {
        img: 'http://dummyimage.com/183x136/cccccc/333333.gif&text=183x136',
        header: 'Header 1',
        link: {
            text: 'Read more',
            url: 'http://google.com'
        }
    },
    {
        img: 'http://dummyimage.com/183x136/cccccc/333333.gif&text=183x136',
        header: 'Header 2',
        link: {
            text: 'Read more',
            url: 'http://google.com'
        }
    },
    {
        img: 'http://dummyimage.com/183x136/cccccc/333333.gif&text=183x136',
        header: 'Header 3',
        link: {
            text: 'Read more',
            url: 'http://google.com'
        }
    }
] %}
