{% set required = {
    title: 'Master Template',
    stylesheet: "#{email.css_dir_url}style.css"
} %}

{% set layout = required|merge(layout|default({})) %}

<!DOCTYPE html>
<html>
<head>
{% block head %}
    <title>{{ layout.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <style type="text/css">
        {{ render_file(layout.stylesheet) }}
    </style>
{% endblock head %}
</head>
<body>
    {% block header %}
        {% include "@tmpl/table-header-bar.html" %}
    {% endblock header %}
    
    {% block content %}
        {% include "@tmpl/table-header.html" %}
        {% include "@tmpl/table-header-bg.html" %}
        {% include "@tmpl/table-quote.html" %}
        {% include "@tmpl/table-3-columns.html" %}
        {% include "@tmpl/table-2-columns.html" %}
        {% include "@tmpl/table-2-columns.html" with { column_direction: 'rtl' } %}
        {% include "@tmpl/table-profile-text.html" %}
        {% include "@tmpl/table-profile-text.html" with { column_direction: 'rtl' } %}
        {% include "@tmpl/table-cta-1.html" %}
        {% include "@tmpl/table-cta-2.html" %}
        {% include "@tmpl/table-events.html" %}
        {% include "@tmpl/table-1-column.html" %}
        {% include "@tmpl/table-promos.html" %}
    {% endblock content %}
    
    {% block footer %}
        {% include "@tmpl/table-footer.html" %}
    {% endblock footer %}
</body>
</html>