<!DOCTYPE html>
<html>
<head>
{% block head %}
    <title>{{ email.title|default('Master Template') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <style type="text/css" rel="theme">
        {{ render_file(email.stylesheet_url) }}
    </style>
    <style type="text/css" rel="addons">
        {{ render_file(email.stylesheet_addons_url) }}
    </style>
{% endblock head %}
</head>
<body>
{{ ical('http://www.harker.org/calendar/page_3624.ics', 'Jan. 10, 2016', 'Jan. 20, 2016', true) }}
<table class="table-wrapper" align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            {% block header %}
                {% if email.header %}
                    {% for module in email.header %}
                        {% include "modules/#{module.template}.html" with { module: module.options|default({}) } %}
                    {% endfor %}
                {% else %}
                    {% include "modules/topbar.html" %}
                {% endif %}
            {% endblock header %}
            
            {% block content %}
                {% for module in email.content|default([]) %}
                    {% include "modules/#{module.template}.html" with { module: module.options|default({}) } %}
                {% endfor %}
            {% endblock content %}
            
            {% block footer %}
                {% if email.footer %}
                    {% for module in email.footer %}
                        {% include "modules/#{module.template}.html" with { module: module.options|default({}) } %}
                    {% endfor %}
                {% else %}
                    {% include "modules/footer.html" %}
                    {% include "modules/bottombar.html" %}
                {% endif %}
            {% endblock footer %}
        </td>
    </tr>
</table>
</body>
</html>