{% extends "modules/grid.html" %}

{% set defaults = {
    module_class: "module-topbar module-topbar-text",
    column_count: 2,
    gutter_height: 1,
    collapse_gutters: true,
    columns: [
        {
            width: "231",
            elements: [
                {
                    template: "img",
                    options: {
                        class: "logo-container",
                        src: module.img.src|default("#{ROOT_IMG_DIR_URL}/harker-logo.png"),
                        alt: module.img.alt|default("Harker Logo"),
                        img_width: module.img.width|default(183),
                        img_height: module.img.height|default(32),
                        img_class: module.img.class|default(""),
                        align: "center",
                        valign: "middle"
                    }
                }
            ]
        },
        {
            width: "349",
            elements: [
                {
                    "template": "list",
                    "options": {
                        "align": "right",
                        "type": "inline",
                        "list_width": "",
                        "items": [
                            "<a href=\"http://www.harker.org\">Home</a>",
                            "<a href=\"http://news.harker.org\">News</a>",
                            "<a href=\"https://www.harker.org/login\">Portal</a>"
                        ]
                    }
                }
            ]
        }
    ]
} %}

{% set module = defaults|merge( module|default({}) ) %}
                        