/* styles here will be appended to main stylesheet (defined in index.php) */
.table-wrapper {
    background: #FFF8DE;
}

.harvest-red-bg {
    background-color: #9D3020;
}
.harvest-orange-bg {
    background-color: #EC6023;
}
.harvest-yellow-bg {
    background-color: #F9B936;
}
.harvest-gold-bg,
.module-footer .background {
    background-color: #A09729;
}
.harvest-brown-bg,
.module-bottombar .background {
    background-color: #7C5F54;
}

.element {
    color: #60423b;
}

.module-footer .element, .module-footer a {
    color: #ffffff;
    /*color: #60423b;*/
}

.module-bottombar .element {
    color: #ffffff;
}

.table-button-primary {
    background-color: #b94329;
}

a, .table-button-text .button, .table-button-text .button a {
    color: #b94329;
}
