{% extends "@tmpl/table-header-bg.html" %}

{% set module = {
    id: '',
    classes: '',
    background_img: "#{ROOT_IMG_DIR_URL}header-bg-1.jpg",
    img: {
        url: "#{email.img_dir_url}img1.png",
        alt: 'Harker',
        width: '260'
    },
    title: 'Christopher Nikoloff, Head of School',
    subtitle: 'A Special Message from'
} %}

{% block inner %}
    <tr>
        <td height="60"></td>
    </tr>
    {{ block('subtitle') }}
    {{ block('title') }}
    <tr>
        <td height="40"></td>
    </tr>
{% endblock inner %}

