/* general field styles */
.acf-fields > .acf-field {
    border-top-color: #ccc;
}
.acf-fields > .acf-field.hidden:first-child + .acf-field {
    border-top-width: 0;
}

/* radio/checkbox */
ul.acf-radio-list li input, ul.acf-checkbox-list li input {
    margin-right: 6px;
}

/* wysiwyg */
.acf-field .wp-editor-tabs {
    float: left;
}
.acf-field .wp-media-buttons + .wp-editor-tabs {
    float: right;
}

/*  flexible content field */
.acf-flexible-content .layout {
    border-width: 0;
}
.layout:hover {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.acf-flexible-content .layout .acf-fc-layout-handle,
.layout > .acf-fields {
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.acf-flexible-content .layout .acf-fc-layout-handle {
    background: #fff;
    color: #23282d;
    font-size: 13px;
    font-weight: bold;
}
.acf-flexible-content .layout:hover > .acf-fc-layout-handle,
.layout:hover > .acf-fields {
    border-color: #999;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.acf-flexible-content .layout > .acf-fc-layout-handle:hover {
    background: #f9f9f9;
}
.acf-flexible-content .layout.-collapsed .acf-fc-layout-handle {
    border-bottom-width: 1px;
}
.layout > .acf-fields {
    border-top-width: 0;
}
.acf-fields.-left > .acf-field:before {
    border-color: #e1e1e1;
}

/* elements */
.elements .layout .acf-fc-layout-handle {
    background: #f1f1f1;
}
.elements .layout > .acf-fc-layout-handle:hover {
    background: #ededed;
}

/* custom label for flexible content */
.hkr-label {
    color: #777;
    font-weight: normal;
}

/* repeater field */
.acf-repeater .acf-table {
    border-color: #ccc;
    background: #fff;
}
.acf-repeater.-row > table > tbody > tr > td, 
.acf-repeater.-block > table > tbody > tr > td {
    border-top-color: #ccc;
}
.acf-repeater .acf-row-handle.order + td,
.acf-repeater .acf-row-handle.remove {
    border-color: #ccc;
}
.acf-repeater .acf-row-handle {
    vertical-align: top !important;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: bold;
}
.acf-repeater .acf-row-handle.order,
.acf-repeater .acf-row-handle.remove {
    background: #f1f1f1;
}
.acf-repeater .acf-row-handle.order {
    color: #555;
}
.acf-repeater .acf-row-handle.order:hover {
    background: #ededed;
}
.acf-repeater .acf-row > .acf-fields.-left > .acf-field:before {
    background: transparent;
}
.acf-repeater .acf-row > .acf-fields.-left > .acf-field:before {
    border-right-width: 1px;
}

/* repeater button */
.acf-repeater > .acf-actions .acf-button {
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    -webkit-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
    text-shadow: none;
}
.acf-repeater > .acf-actions .acf-button:focus,
.acf-repeater > .acf-actions .acf-button:hover {
    background: #fafafa;
    border-color: #999;
    color: #23282d;
}

/* tabs */
.acf-fields > .acf-tab-wrap {
    background-color: transparent;
}
.acf-fields > .acf-tab-wrap .acf-tab-group,
.acf-tab-group li a,
.acf-tab-group li.active a {
    border-color: #ccc;
}
.acf-tab-group li a,
.acf-tab-group li.active a {
    color: #333;
}
.acf-tab-group li a {
    font-size: 13px;
    font-weight: normal;
    padding: 3px 5px;
}
.acf-tab-group li.active a {
    padding-bottom: 4px;
}

/* section permalink styles */
.use-permalink {
    display: none;
}
.layout[data-layout="element-list"] .use-permalink {
    display: block;
}
.acf-fields > .acf-field + .use-permalink {
    border-top: none;
}
.acf-fields > .use-permalink > .acf-label {
    display: none;
}
.acf-fields.-left > .use-permalink > .acf-label {
    display: block;
    visibility: hidden;
    height: 1px;
    padding: 0;
}
.acf-fields > .acf-field + .use-permalink > .acf-input {
    padding-top: 0;
    margin-top: -15px;
}

/* calendar feed */

/* event id */
th[data-key="field_57a4cc7bfc202"], td[data-key="field_57a4cc7bfc202"], div[data-key="field_57a4cc7bfc202"],
/* event permalink */
th[data-key="field_57a4cd19fc205"], td[data-key="field_57a4cd19fc205"], div[data-key="field_57a4cd19fc205"] {
    display: none;
}
.events, 
.events-loading .acf-repeater, 
.events-done .events-loading-img {
    display: none;
}
.events-loading,
.events-done,
.events-done .acf-repeater {
    display: block;
}
.btn-remove-events,
.loading-msg {
    display: none;
}
.has-loading-events .loading-msg {
    display: inline;
}
.has-events .btn-remove-events {
    display: inline;
}
.has-loading-events .btn-add-events,
.has-events .btn-add-events {
    display: none;
}
