/* general style tweaks */
.acf-fields > .acf-field {
    border-top-color: #dfdfdf;
}
.acf-field .acf-label label {
    color: #333;
}

/* set static width for left aligned field labels */
.acf-fields.-left > .acf-field > .acf-label,
.acf-fields.-left > .acf-field:before {
    width: 150px;
}
.acf-fields.-left > .acf-field > .acf-input {
    width: auto;
    float: none;
    margin-left: 150px;
}

/* styles for left aligned field labels */
.acf-fields.-left > .acf-field:before {
    background: transparent;
    border-right-width: 0;
}

/* styles flexible content field type */
.acf-flexible-content .layout {
    border-color: #ccc;
}
.acf-flexible-content .layout .acf-fc-layout-handle {
    font-weight: bold;
    border-color: #ddd;
}

/* disable left align for Columns field */
.acf-fields.-left > .columns {
    margin: 0;
    padding: 15px 12px;
}
.acf-fields.-left > .columns:before {
    display: none;
}
.acf-fields.-left > .columns > .acf-label, 
.acf-fields.-left > .columns > .acf-input {
    width: auto;
    margin: 0 0 10px;
    padding: 0;
    float: none;
}

.columns .acf-row > .acf-fields {
    background: #f5f5f5;
}

.columns-1 > .acf-label {
    display: none;
}

.list-items .acf-table {
    clear: none;
}

.acf-repeater .acf-table {
    border-color: #ccc;
    border-width: 0;
}
.acf-repeater.-row > table > tbody > tr > td, 
.acf-repeater.-block > table > tbody > tr > td {
    border-top-color: #ccc;
}
.acf-repeater .acf-row-handle.order,
.acf-repeater .acf-row > .acf-fields.-left > .acf-field:before,
.acf-repeater .acf-row-handle.remove {
    background: #eee;
}
.acf-repeater .acf-row > .acf-fields.-left > .acf-field:before {
    border-right-width: 1px;
}
.acf-repeater .acf-row-handle.order {
    color: #555;
}
.acf-repeater .acf-row-handle {
    vertical-align: top !important;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: bold;
}
/* .wp-core-ui .acf-flexible-content .acf-field .acf-button */
.acf-repeater > .acf-actions .acf-button {
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    -webkit-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
    text-shadow: none;
}
.acf-repeater > .acf-actions .acf-button:focus,
.acf-repeater > .acf-actions .acf-button:hover {
    background: #fafafa;
    border-color: #999;
    color: #23282d;
}

.acf-fields > .acf-tab-wrap .acf-tab-group,
.acf-tab-group li a,
.acf-tab-group li.active a {
    border-color: #ccc;
}
.acf-fields.-left > .acf-tab-wrap .acf-tab-group {
    padding-left: 10px;
}
.acf-tab-group li a,
.acf-tab-group li.active a {
    color: #555;
}
.acf-tab-group li a {
    font-size: 12px;
    font-weight: normal;
    padding: 3px 5px;
}
.acf-tab-group li.active a {
    padding-bottom: 4px;
}

.acf-actions li {
    float: left;
    margin-left: 0;
    margin-right: 5px;
}

.acf-field .wp-editor-tabs {
    float: left;
}
.acf-field .wp-media-buttons + .wp-editor-tabs {
    float: right;
}

.hkr-tmpl-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #777;
    vertical-align: baseline;
    margin-left: 0.25rem;
}
.hkr-label {
    background: #9da4aa;  /*#818a91;*/
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    margin-left: 0.25rem;
}
.acf-fc-layout-order + .hkr-tmpl-label,
.acf-fc-layout-order + .hkr-label {
    margin-left: 0;
}