/* Default Styles (desktop first)
-------------------------------------------- */

.ReadMsgBody { 
    width: 100%; background-color: #ffffff; 
}
.ExternalClass { 
    width: 100%; 
    background-color: #ffffff; 
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
html { width: 100%; }
body { 
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    margin: 0;
    padding: 0;
}
table { 
    border-spacing: 0; 
    table-layout: fixed; 
    margin: 0 auto; 
}
table table table { table-layout: auto; }
img { display: block !important; }
table td { border-collapse: collapse; }
.yshortcuts a { border-bottom: none !important; }
img:hover { opacity: 0.9 !important; }
a { 
    color: #00809E; 
}
.textbutton a { 
    font-family: 'open sans', arial, sans-serif !important; 
    color: #ffffff !important; 
}


.img-container {
    /* set attr: align="center" */
    line-height: 0px;
}

img {
    display: block; 
    line-height: 0px; 
    font-size: 0px; 
    border: 0px;
}


.title {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 28px;
    line-height: 40.6px;
    color: #3B3B3B; 
    font-weight: bold; 
}

.subtitle {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 14px;
    line-height: 28px;
    color: #676767;
    text-align: center;
}


.header {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 24px; 
    line-height: 34.8px;
    color: #3B3B3B; 
    font-weight: bold; 
    text-align: left;
}

.subheader {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 24px; 
    line-height: 34.8px;
    color: #3B3B3B; 
    font-weight: 100; 
    text-align: left;
}

.content {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 14px; 
    line-height: 28px;
    color: #676767; 
    text-align: left;
}


.table-button {
    background-color: #00809E;
}

.button {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.button a {
    display: block;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none; 
}

.table-button-secondary {
    background-color: #ffffff;
}

.table-button-secondary .button,
.table-button-secondary .button a  {
    color: #676767;
}

.table-button-outline {
    background-color: transparent;
}

.table-button-outline .button {
    border: 1px solid #00809e;  
}

.table-button-outline .button,
.table-button-outline .button a {
    color: #00809E;
    font-weight: bold;
}


.list-item {
    border-bottom: 1px solid #ecf0f1;
}

.list-item-text {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 14px; 
    line-height: 21px;
    color: #676767;
    text-align: left;
}


/* Modules
-------------------------------------------- */

.table-header-bar {
    background-color: #044836;
}

.table-header-bar .logo-container {
    width: 255px;
    border-right: 4px solid #033e2f; 
    border-left: 4px solid #033e2f; 
    background-color: #05533E;
}


.table-header {
    background-color: #eeeeee;
    position: relative; 
    opacity: 1; 
    z-index: 0; 
}

.table-header .title {
    letter-spacing: 2px;
}

.table-header .subtitle {
    font-style: italic;
}


.table-header-bg {
    background-color: #ffffff;
}

.table-header-bg .background {
    background-color: #66809b;
    background-size: cover; 
    background-position: top;
}

.table-header-bg .title {
    color: #ffffff;
    letter-spacing: 4px;
}

.table-header-bg .subtitle {
    color: #ffffff;
    letter-spacing: 4px;
}


.table-quote {
    background-color: #ffffff;
}

.table-quote .quote {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 32px; 
    line-height: 32px;
    font-weight: bold; 
    color: #3B3B3B; 
    text-align: center;
}

.table-quote .cite {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 14px; 
    line-height: 28px;
    color: #676767; 
    text-align: center;
}


.table-3-columns {
    background-color: #efefef;
}


.table-article .header {
    font-size: 14px; 
    line-height: 28px;
    color: #555; 
}

.table-article .content {
    font-size: 12px; 
    line-height: 18px;
}


.table-list-left {
    background-color: #ffffff;
}


.table-list-right {
    background-color: #ffffff;
}


.table-events {
    background-color: #efefef;
}

.table-date {
    background-color: #9C0947;
}

.table-date .date {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 18px; 
    line-height: 26.1px;
    color: #ffffff; 
    font-weight: bold; 
    text-align: center;
    padding-left: 15px; 
    padding-right: 15px; 
}


.table-event .header {
    font-size: 18px; 
    line-height: 26.1px;
}


.table-photo-right {
    background-color: #f6f6f6;
}


.table-quote-text {
    background-color: #ffffff;
}

.table-panel {
    background-color: #ecf0f1;
}

.table-profile .quote-icon {
    font-family: Arial, sans-serif, 'Century Gothic'; 
    font-size: 55px; 
    line-height: 35px; 
    color: #00809E;
    text-align: center;
}

.table-profile .quote {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #3b3b3b;
    text-align: center;
}

.table-profile .cite-name {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #3b3b3b;
    font-weight: bold;
    text-align: center;
}

.table-profile .cite-detail {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #bdc3c7;
    text-align: center;
}


.table-photo-left {
    background-color: #f6f6f6;
}


.table-cta {
    background-color: #ffffff;
}

.table-cta .background {
    background-color: #3b3b3b;
    background-size: cover; 
    background-position: bottom;
}

.table-cta .background-shadow {
    background-repeat: repeat;
}

.table-cta .header,
.table-cta .content {
    color: #ffffff;
}


.table-1-column {
    background-color: #ffffff;
}


.table-promos {
    background-color: #ffffff;
}


.table-footer {
    background-color: #ecf0f1;
}

.table-footer .list-item {
    border: none;
}

.footer-bar {
    background-color: #e2e6e7;
}


/* Utility Classes
-------------------------------------------- */

.color-bg .header,
.color-bg .content {
    color: #ffffff;
}

.blue-bg, .blue-bg .table-button-outline { 
    background-color: #00809E; 
}
.green-bg, .green-bg .table-button-outline { 
    background-color: #63A70A; 
}
.purple-bg, .purple-bg .table-button-outline { 
    background-color: #A23BBC; 
}
.red-bg, .red-bg .table-button-outline { 
    background-color: #9C0947; 
}
.orange-bg, .orange-bg .table-button-outline { 
    background-color: #CE5D27; 
}
.gold-bg, .gold-bg .table-button-outline { 
    background-color: #DCAA00; 
}

.blue-bg .table-button-secondary .button,
.blue-bg .table-button-secondary .button a {
    color: #00809E;
}
.green-bg .table-button-secondary .button,
.green-bg .table-button-secondary .button a {
    color: #63A70A;
}
.purple-bg .table-button-secondary .button,
.purple-bg .table-button-secondary .button a {
    color: #A23BBC;
}
.red-bg .table-button-secondary .button,
.red-bg .table-button-secondary .button a {
    color: #9C0947;
}
.orange-bg .table-button-secondary .button,
.orange-bg .table-button-secondary .button a {
    color: #CE5D27;
}
.gold-bg .table-button-secondary .button,
.gold-bg .table-button-secondary .button a {
    color: #DCAA00;
}

.color-bg .table-button-outline .button {
    border: 1px solid #ffffff;
}
.color-bg .table-button-outline .button,
.color-bg .table-button-outline .button a {
    color: #ffffff;
}


/* Medium Screen Styles 
-------------------------------------------- */

@media only screen and (max-width: 640px) {
    body { width: auto !important; 
    }
    table[class="table-inner"] { width: 90% !important; }
    table[class="table-full"] { width: 100% !important; }
    table[class="table-full-center"] { 
        width: 100% !important; 
        text-align: center !important;
    }
    /* image */
    img[class="img-full"] { 
        width: 100% !important; 
        height: auto !important; 
    }
}

/* overwrite media query */
td[class="hide"] { 
    max-height: 0px !important; 
    height: 0px !important; 
}

/* Small Screen Styles 
-------------------------------------------- */

@media only screen and (max-width: 479px) {
    body { width: auto !important; }
    table[class="table-inner"] { width: 90% !important; }
    table[class="table-full"] { width: 100% !important; }
    table[class="table-full-center"] { 
        width: 100% !important; 
        text-align: center !important;
    }
    /* image */
    img[class="img-full"] { width: 100% !important; }
    img[class="img-hide"] { 
        line-height: 0px !important; 
        max-height: 0px !important; 
        max-width: 0px !important; 
    }
}

/* overwrite media query */
td[class="hide"] { 
    max-height: 0px !important; 
    height: 0px !important; 
}
