/* Default Styles (desktop first)
-------------------------------------------- */

.ReadMsgBody { 
    width: 100%; background-color: #ffffff; 
}
.ExternalClass { 
    width: 100%; 
    background-color: #ffffff; 
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
html { width: 100%; }
body { 
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    margin: 0;
    padding: 0;
}
table { 
    border-spacing: 0; 
    table-layout: fixed; 
    margin: 0 auto; 
}
table table table { table-layout: auto; }
img { display: block !important; }
table td { border-collapse: collapse; }
.yshortcuts a { border-bottom: none !important; }
a { 
    color: #00809E; 
}
.textbutton a { 
    font-family: 'open sans', arial, sans-serif !important; 
    color: #ffffff !important; 
}

img {
    display: block; 
    line-height: 0px; 
    font-size: 0px; 
    border: 0px;
}

h2, h3, h4 {
    font-family: 'Open Sans', Arial, sans-serif; 
    color: #3B3B3B; 
    text-align: left;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 20px; 
    line-height: 34.8px;
    font-weight: 100;
}

h3 {
    font-size: 16px; 
    line-height: 26px;
    font-weight: bold;
}

h4 {
    font-size: 16px; 
    line-height: 26px;
    font-weight: 100;
}


/* Element Wrappers
-------------------------------------------- */

tr:last-child > .element {
    padding-bottom: 0;
}

tr:first-child > .element {
    padding-top: 0;
}


/* Elements
-------------------------------------------- */

.element {
    padding-bottom: 15px;
}

.element-list {
    padding-bottom: 30px;
}

.title {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 2px;
    color: #3B3B3B; 
    font-weight: bold; 
    text-align: center;
    padding-bottom: 15px;
}

.subtitle {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 16px;
    line-height: 26px; 
    letter-spacing: 2px;
    color: #676767;
    text-align: center;
    padding-bottom: 15px;
}

.subtitle-lg {
    font-size: 20px;
    line-height: 30px;
}

.header {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 24px; 
    line-height: 34.8px;
    color: #3B3B3B; 
    font-weight: bold; 
    text-align: left;
}

.header a {
    text-decoration: none;
}

.header a:hover, .header a:focus {
    text-decoration: underline;
}

.subheader {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 20px; 
    line-height: 34.8px;
    color: #3B3B3B; 
    font-weight: 100; 
    text-align: left;
}

.content {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 16px; 
    line-height: 26px;
    color: #676767; 
    text-align: left;
}

.content-intro {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 23px;
    font-weight: 100;
    line-height: 36px;
    color: #333;
    text-align: left;
}

.element-img {
    line-height: 0px;
}

.table-button {
    background-color: #00809E;
}

.button {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.button a {
    display: block;
    color: #ffffff;
    text-decoration: none; 
}

.table-button-secondary {
    background-color: #ffffff;
}

.table-button-secondary .button,
.table-button-secondary .button a  {
    color: #676767;
}

.table-button-outline {
    background-color: transparent;
}

.table-button-outline .button {
    border: 1px solid #00809e;  
}

.table-button-outline .button,
.table-button-outline .button a {
    color: #00809E;
    font-weight: bold;
}


.list-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd; /* #ecf0f1*/
}

.bullet.img-container {
    padding-top: 4px;
}

.list-item-text {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 14px; 
    line-height: 21px;
    color: #676767;
    text-align: left;
}


/* Module Wrappers
-------------------------------------------- */

.background {
    background-size: cover; 
    background-position: top center;
}

.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.row {
    padding-bottom: 40px;
}

tr:last-child > .row {
    padding-bottom: 0;
}


/* Modules
-------------------------------------------- */

.module-topbar {
    background-color: #044836;
}

.module-topbar .container {
    padding-top: 0;
    padding-bottom: 0;
}

.module-topbar .container .logo-container {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 4px solid #033e2f; 
    border-left: 4px solid #033e2f; 
    background-color: #05533E;
}

.article .img {
    width: 100%;
}

.article .header {
    font-size: 16px; 
    line-height: 26px;
    color: #555; 
}

.article .content {
    font-size: 12px; 
    line-height: 20px;
}

.article .button {
    font-size: 14px;
}


.table-date {
    background-color: #9C0947;
}

.date {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 16px; 
    line-height: 24px;
    color: #ffffff; 
    font-weight: bold; 
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px; 
    padding-right: 5px; 
}

.day-of-week {
    font-size: 10px;
    line-height: 12px;
    font-weight: normal;
}

.events {
    padding-left: 20px;  
}

.event {
    padding-bottom: 15px;
}

.event .header {
    font-size: 16px; 
    line-height: 24px;
    padding-bottom: 0;
}

.event .content {
    font-size: 14px;
    line-height: 24px;
}

.event-link {
    display: block;
}


.table-panel {
    background-color: #ecf0f1;
}

.table-profile .quote-icon {
    font-family: Arial, sans-serif, 'Century Gothic'; 
    font-size: 55px; 
    line-height: 35px; 
    color: #00809E;
    text-align: center;
}

.table-profile .quote {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #3b3b3b;
    text-align: center;
}

.table-profile .cite-name {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #3b3b3b;
    font-weight: bold;
    text-align: center;
}

.table-profile .cite-detail {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #bdc3c7;
    text-align: center;
}


.module-footer .background {
    background-color: #ecf0f1;
}

.module-footer .list-item {
    border: none;
}

.module-bottombar .background {
    background-color: #e2e6e7;
}

.module-bottombar .container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.module-bottombar .content {
    text-align: center;
}


/* Utility Classes
-------------------------------------------- */

.white-text {
    background-color: #63A70A; /* green */
}

.gray-bg, .gray-bg .background {
    background-color: #eeeeee;
}
.white-bg, .white-bg .background {
    background-color: #ffffff;
}
.blue-bg, .blue-bg .table-button-outline, .blue-bg .background { 
    background-color: #00809E; 
}
.green-bg, .green-bg .table-button-outline, .green-bg .background { 
    background-color: #63A70A; 
}
.purple-bg, .purple-bg .table-button-outline, .purple-bg .background { 
    background-color: #A23BBC; 
}
.red-bg, .red-bg .table-button-outline, .red-bg .background { 
    background-color: #9C0947; 
}
.orange-bg, .orange-bg .table-button-outline, .orange-bg .background { 
    background-color: #CE5D27; 
}
.gold-bg, .gold-bg .table-button-outline, .gold-bg .background { 
    background-color: #DCAA00; 
}

.blue-bg .table-button-secondary .button,
.blue-bg .table-button-secondary .button a {
    color: #00809E;
}
.green-bg .table-button-secondary .button,
.green-bg .table-button-secondary .button a {
    color: #63A70A;
}
.purple-bg .table-button-secondary .button,
.purple-bg .table-button-secondary .button a {
    color: #A23BBC;
}
.red-bg .table-button-secondary .button,
.red-bg .table-button-secondary .button a {
    color: #9C0947;
}
.orange-bg .table-button-secondary .button,
.orange-bg .table-button-secondary .button a {
    color: #CE5D27;
}
.gold-bg .table-button-secondary .button,
.gold-bg .table-button-secondary .button a {
    color: #DCAA00;
}

.white-text .table-button-outline .button {
    border: 1px solid #ffffff;
}

.white-text .element,
.white-text .table-button-outline .button,
.white-text .table-button-outline .button a,
.white-text .list-item-text,
.white-text a  {
    color: #ffffff;
}

.padding-top { padding-top: 20px; }
.padding-bottom { padding-bottom: 20px; }

.padding-top-none { padding-top: 0; }
.padding-bottom-none { padding-bottom: 0; }


/* Medium Screen Styles 
-------------------------------------------- */

@media only screen and (max-width: 640px) {
    body { width: auto !important; 
    }
    table[class="table-inner"] { width: 90% !important; }
    table[class="table-full"] { width: 100% !important; }
    table[class="table-full-center"] { 
        width: 100% !important; 
        text-align: center !important;
    }
    
    /* image */
    img[class="img-full"] { 
        width: 100% !important; 
        height: auto !important; 
    }
}

/* overwrite media query */
td[class="hide"] { 
    max-height: 0px !important; 
    height: 0px !important; 
}

/* Small Screen Styles 
-------------------------------------------- */

@media only screen and (max-width: 479px) {
    body { width: auto !important; }
    table[class="table-inner"] { width: 90% !important; }
    table[class="table-full"] { width: 100% !important; }
    table[class="table-full-center"] { 
        width: 100% !important; 
        text-align: center !important;
    }
    
    /* image */
    img[class="img-full"] { width: 100% !important; }
    img[class="img-hide"] { 
        line-height: 0px !important; 
        max-height: 0px !important; 
        max-width: 0px !important; 
    }
}

/* overwrite media query */
td[class="hide"] { 
    max-height: 0px !important; 
    height: 0px !important; 
}
