{% extends "elements/element.html" %}

{% set defaults = {
    element_class: "article",
    width: "100%",
    permalink: "",
    img: {
        width: "100%",
        href: module.permalink
    },
    header: {
        text: "Article Header",
        href: module.permalink
    },
    content: {},
    button: {
        type: "outline",
        width: "100%",
        href: module.permalink
    }
} %}

{% set module = defaults|merge_r(module|default({})) %}

{% block element_content %}
    <table class="table-article" width="100%" border="0" align="{{ module.align }}" cellpadding="0" cellspacing="0">
        {% if module.img %}
            <tr>
                {% include "elements/img.html" with { module: module.img } %}
            </tr>
        {% endif %}
        {% if module.header %}
            <tr>
                {% include "elements/header.html" with { module: module.header } %}
            </tr>
        {% endif %}
        {% if module.content %}
            <tr>
                {% include "elements/content.html" with { module: module.content } %}
            </tr>
        {% endif %}
        {% if module.button %}
            <tr>
                {% include "elements/button.html" with { module: module.button } %}
            </tr>
        {% endif %}
    </table>
{% endblock element_content %}
