{% extends "elements/element-grid.html" %}

{% set defaults = {
    element_class: "article-grid",
    rss: '',
    articles: [],
    article: {
        img: {
            include: true,
            link: true
        },
        header: {
            include: true,
            link: true
        },
        content: {
            include: true,
        },
        button: {
            include: true
        }
    }
} %}

{% set module = defaults|merge_r( module|default({}) ) %}
{% set module = module|merge({elements: rss(module)}) %}
