{% extends "elements/element-list.html" %}

{% set defaults = {
    element_class: "article-list",
    rss: '',
    articles: [],
    article: {
        img: {
            include: true,
            link: true
        },
        header: {
            include: true,
            link: true
        },
        content: {
            include: true,
        },
        button: {
            include: true,
            text: "Read More"
        }
    }
} %}

{% set module = defaults|merge_r(module|default({})) %}
{% set module = module|merge({elements: rss(module)}) %}
