{% extends "elements/element-list.html" %}

{% set defaults = {
    element_class: "article-grid",
    rss: '',
    feature: false,
    articles: [],
    article: {
        img: {
            include: true,
            link: true
        },
        header: {
            include: true,
            link: true
        },
        content: {
            include: true,
        },
        button: {
            include: true
        }
    },
    feature_article: {
        img: {
            include: true,
            link: true
        },
        header: {
            include: true,
            link: true
        },
        content: {
            include: true,
        },
        button: {
            include: true
        }
    }
} %}

{% set module = defaults|merge_r( module|default({}) ) %}
{% set feed = rss(module) %}

{% if module.feature %}
    {% set elements = [
        feed|first,
        {
            template: "element-grid",
            options: {
                elements: feed|slice(1)
            }
        }
    ] %}
{% else %}
    {% set elements = [
        {
            template: "element-grid",
            options: {
                elements: feed
            }
        }
    ] %}
{% endif %}

{% set module = module|merge({elements: elements}) %}
