{% extends "elements/element.html" %}

{% set defaults = {
    element_class: "element-button",
    type: "primary",
    text: "CTA GOES HERE",
    href: "#",
    width: "",
    align: "left"
} %}

{% set module = defaults|merge(module|default({})) %}

{% block element_content %}
    <table class="table-button table-button-{{ module.type }}" width="{{ module.width }}" border="0" align="{{ module.align }}" cellpadding="0" cellspacing="0">
        <tr>
            <td class="button" valign="middle" align="center">
                <a href="{{ module.href }}">{{ module.text }}</a>
            </td>
        </tr>
    </table>
{% endblock element_content %}
