{% set defaults = {
    id: "",
    element_class: "",
    class: "",
    style: "",
    align: "left",
    valign: "top",
    width: "100%",
    height: "",
    attributes: "",
    text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit."
} %}

{% set module = defaults|merge( module|default({}) ) %}

{% block element %}
    <td id="{{ module.id }}" class="element {{ module.element_class }} {{ module.class }}" width="{{ module.width }}" height="{{ module.height }}" style="{{ module.style }}" align="{{ module.align }}" valign="{{ module.valign }}" {{ module.attributes }}>
        {% block element_content %}
            {{ module.text }}
        {% endblock element_content %}
    </td>
{% endblock element %}
