{% set defaults = {
    id: "",
    element_class: "",
    class: "",
    style: "",
    align: "left",
    attributes: "",
    text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit."
} %}

{% set module = defaults|merge( module|default({}) ) %}

<td id="{{ module.id }}" class="element {{ module.element_class }} {{ module.class }}" style="{{ module.style }}" align="{{ module.align }}" {{ module.attributes }}>
    {% block element_content %}
        {{ module.text }}
    {% endblock element_content %}
</td>
