{% extends "elements/element.html" %}

{% set defaults = {
    element_class: "event",
    width: "100%",
    img: {},
    header: {
        text: "Event Header"
    },
    content: {
        text: "7 p.m. | Saratoga Campus"
    },
    button: {}
} %}

{% set module = defaults|merge(module|default({})) %}

{% set img = defaults.img|merge(module.img) %}
{% set header = defaults.header|merge(module.header) %}
{% set content = defaults.content|merge(module.content) %}
{% set button = defaults.button|merge(module.button) %}

{% block element_content %}
    <table class="table-event" width="{{ module.width }}" border="0" align="{{ module.align }}" cellpadding="0" cellspacing="0">
        <tr>
            {% include "header.html" with { module: header } %}
        </tr>
        <tr>
            {% include "content.html" with { module: content } %}
        </tr>
    </table>
{% endblock element_content %}
