{% extends "elements/element.html" %}

{% set defaults = {
    element_class: "img-container",
    url: "",
    alt: "",
    img_class: "img-full",
    align: "center",
    width: "",
    href: ""
} %}

{% set module = defaults|merge( module|default({}) ) %}

{% block element_content %}
    {% if module.href %}
        <a href="{{ module.href }}">
    {% endif %}
    <img class="{{ module.img_class }}" width="{{ module.width }}" src="{{ module.src }}" alt="{{ module.alt }}">
    {% if module.href %}
        </a>
    {% endif %}
{% endblock element_content %}
