{% extends "elements/element.html" %}

{% set defaults = {
    element_class: "img-container",
    url: "",
    alt: "",
    img_class: "img-full",
    align: "center"
} %}

{% set module = defaults|merge( module|default({}) ) %}

{% block element %}
    <td class="element {{ module.element_class }} {{ module.classes }}" align="{{ module.align }}" {{ module.attributes }}>
        {% block cell %}
            <img class="{{ module.img_class }}" width="{{ module.width }}" src="{{ module.src }}" alt="{{ module.alt }}">
        {% endblock cell %}
    </td>
{% endblock element %}
