{% extends "@tmpl/base.html" %}

{% set layout = {
    title: 'Starter'
} %}

{% block content %}
    {% include "table-header.html" ignore missing %}
    {% include "table-header-bg.html" ignore missing %}
    {% include "table-quote.html" ignore missing %}
    {% include "table-3-columns.html" ignore missing %}
    {% include "table-photo-list.html" ignore missing %}
    {% include "table-photo-list.html" ignore missing with { column_direction: 'rtl' } %}
    {% include "table-photo-text.html" ignore missing %}
    {% include "table-quote-left.html" ignore missing %}
    {% include "table-photo-text.html" ignore missing with { column_direction: 'rtl' } %}
    {% include "table-cta.html" ignore missing %}
    {% include "table-cta-2.html" ignore missing %}
    {% include "table-full-text.html" ignore missing %}
    {% include "table-promos.html" ignore missing %}
{% endblock content %}

