{% extends "@tmpl/base.html" %}

{% set layout = {
    title: 'Starter',
    stylesheet: "#{email.css_dir_url}style.css",
} %}

{% block content %}
    {% include "header.html" %}
    {% include "header-bg.html" %}
    {% include "quote.html" %}
    {% include "articles.html" %}
    {% include "list-photo-left.html" %}
    {% include "list-photo-right.html" %}
    {% include "events.html" %}
    {% include "text-photo-right.html" %}
    {% include "text-quote-left.html" %}
    {% include "text-photo-left.html" %}
    {% include "cta-bg.html" %}
    {% include "cta-2.html" %}
    {% include "full-text-color-bg.html" %}
    {% include "full-text-white-bg.html" %}
    {% include "promos.html" %}
{% endblock content %}
