{% extends "modules/module.html" %}

{% set defaults = {
    module_class: "module-col-1"
} %}

{% set module = defaults|merge( module|default({}) ) %}

{% block container %}
    <table class="table-col-1" align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
        {% block col_1 %}
            {% for element in module.elements %}
                <tr>
                    {% include "#{element.template}.html" with { module: element.options } %}
                </tr>
            {% endfor %}
        {% endblock col_1 %}
    </table>
{% endblock container %}
