{% extends "modules/grid.html" %}

{% set defaults = {
    module_class: "module-footer",
    column_count: 2,
    columns: [
        {
            elements: module.column_1|default([
                {
                    template: "header",
                    options: {
                        text: "Social Media"
                    }
                },
                {
                    template: "list",
                    options: {
                        type: "unstyled",
                        items: [
                            '<a href="http://facebook.com/harkerschool">facebook.com/harkerschool</a>',
                            '<a href="http://twitter.com/harkerschool">twitter.com/harkerschool</a>',
                            '<a href="http://instagram.com/harkerschool">instagram.com/harkerschool</a>',
                            '<a href="http://youtube.com/harkerschool">youtube.com/harkerschool</a>'
                        ]
                    }
                }
            ])
        },
        {
            elements: module.column_2|default([
                {
                    template: "header",
                    options: {
                        text: "Contact Us"
                    }
                },
                {
                    template: "content",
                    options: {
                        text: '500 Saratoga Ave., San Jose 95129<br>
                               <a href="mailto:communications@harker.org">communications@harker.org</a>'
                    }
                }
            ])
        }
    ]
} %}

{% set module = defaults|merge( module|default({}) ) %}
