{% extends "modules/module.html" %}

{% set defaults = {
    module_class: "module-grid",
    column_count: 1,
    column_direction: 'ltr',
    gutter_width: 20,
    gutter_height: 40
} %}

{% set module = defaults|merge( module|default({}) ) %}

{% block container %}
    {% set private = {
        column_width: (module.width - ((module.column_count-1) * module.gutter_width)) / module.column_count|round(1, 'floor') - 1,
        column_align: table_position(module.column_direction),
        gutter_width: module.gutter_width - 2
    } %}

    {% set module = module|merge(private) %}

    <table class="table-rows" align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
        {% for row in module.columns|batch(module.column_count) %}
            <tr>
                <td class="row">
                    {% for column in row %}
                        {% if loop.index in range(1, module.column_count-1) %}
                            <table class="table-full" width="{{ column.width|default(module.column_width) }}" border="0" align="{{ module.column_align }}" cellpadding="0" cellspacing="0">
                                {% for element in column.elements %}
                                    <tr>
                                        {% include "#{element.template}.html" with { module: element.options } %}
                                    </tr>
                                {% endfor %}
                            </table>
                            {% if module.column_count != 1 %}
                                <table width="1" border="0" cellpadding="0" cellspacing="0" align="{{ module.column_align }}">
                                    <tr>
                                        <td height="{{ module.gutter_height }}" style="font-size: 0;line-height: 0;border-collapse: collapse;">
                                            <p style="padding-left: {{ module.gutter_width }}px;">&nbsp;</p>
                                        </td>
                                    </tr>
                                </table>
                            {% endif %}
                        {% else %}
                            <table class="table-full" width="{{ column.width|default(module.column_width) }}" border="0" align="{{ opposite_direction(module.column_align) }}" cellpadding="0" cellspacing="0">
                                {% for element in column.elements %}
                                    <tr>
                                        {% include "#{element.template}.html" with { module: element.options } %}
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock container %}
