{% set current_date = '' %}

<{{ feed_wrap|default('section') }} class="feed {{ container_classes }}">
{% for item in ical('http://www.harker.org/calendar/page_3624.ics', '3624') %}
    {% set has_time = false %}

    {% if item.start|date('D., M. j, Y') != current_date %}
        {% set current_date = item.start|date('D., M. j, Y') %}
        <h2 class="feed-date">{{ current_date }}</h2>
    {% endif %}

    <{{ item_wrap|default('article') }} class="item {{ item_classes }}">
    {% block item %}
        <h3 class="item-title">{{ item.title }}</h3>
        
        <p class="item-meta">
        {% if item.start is defined and item.start|date('g:i a') != '12:00 am' %}
            {{ item.start|date('g:i a') }}
            {% set has_time = true %}
        {% endif %}

        {% if item.end is defined %}
            to {{ item.end|date('g:i a') }}
        {% endif %}

        {% if has_time and item.location is defined %}
            |
        {% endif %}

        {% if item.location is defined %}
            {{ item.location }}<br>
        {% endif %}
        </p>
        
        <p class="item-permalink">
        {% if item.permalink is defined %}
            <a href="{{ item.permalink }}">View details</a>
        {% endif %}
        </p>

    {% endblock item %}
    </{{ item_wrap|default('article') }}>
{% endfor %}
</{{ feed_wrap|default('section') }}>