{% set defaults = {
    id: "",
    module_class: "",
    class: "",
    style: "",
    attributes: "",
    text: "",
    width: 600,
    collapse_gutters: false,
    table_style: "",
    background_img: "",
    background_style: ""
} %}

{% set module = defaults|merge( module|default({}) ) %}

{% if module.collapse_gutters %}
    {% set table_inner_class = "table-full" %}
{% else %}
    {% set table_inner_class = "table-inner" %}
{% endif %}

<table id="{{ module.id }}" class="table-module {{ module.module_class }} {{ module_classes(module.class) }}" style="{{ module.table_style }}" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" {{ module.attributes }}>
    <tr>
        <td class="background" align="center" background="{{ module.background_img }}" style="background-image: url({{ module.background_img }}) {{ module.background_style }}">
            <table align="center" class="{{ table_inner_class }}" width="{{ module.width }}" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="container" style="{{ module.style }}">
                        {% block container %}
                            <table widht="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="content">
                                        {{ module.text }}
                                    </td>
                                </tr>
                            </table>
                        {% endblock container %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>