{% extends "@tmpl/table-2-columns.html" %}

{% set module = module|default({
    id: '',
    classes: 'table-quote-text',
    profile: {
        quote: 'Envato is an ecosystem of sites to help you get creative.',
        img: {
            url: "#{email.img_dir_url}img17.png",
            alt: 'Profile Pic',
            width: '80'
        },
        name: 'John Doe',
        detail: 'Awesome Title Here',
    },
    header: 'COLUMN HEADER',
    content: 'Consectetur ornare neque mattis est scelerisque platea a parturient molestie parturient laoreet a proin ac. Fusce massa hendrerit venenatis vivamus sociis eu eu potenti elementum eu suspendisse consectetur mattis id arcu aliquet mus adipiscing congue adipiscing feugiat curabitur natoque parturient.
    <br>
    <br>
    Pulvinar mi nullam mi morbi eleifend a etiam adipiscing scelerisque curabitur a vestibulum condimentum natoque himenaeos condimentum et fames tincidunt habitasse scelerisque nam inceptos bibendum accumsan a parturient.
    <br>
    <br>
    Sed malesuada a parturient adipiscing a turpis netus hac a a quam enim vestibulum condimentum.',
    link: {
        url: 'http://www.harker.org',
        text: 'CTA GOES HERE'
    }
}) %}

{% block column_1 %}
    {% set profile = module.profile %}
    <tr>
        <td align="center">
            <table class="table-profile" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                {% block quote_panel %}
                    {% if profile.quote %}
                    <tr>
                        <td align="center">
                            <table class="table-panel" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="50"></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            {% block quote_icon %}
                                                <tr>
                                                    <td class="quote-icon">“</td>
                                                </tr>
                                                <tr>
                                                    <td height="5"></td>
                                                </tr>
                                            {% endblock quote_icon %}
                                            {% block quote_text %}
                                                <tr>
                                                    <td class="quote">
                                                        {{ profile.quote }}
                                                    </td>
                                                </tr>
                                            {% endblock quote_text %}
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                    {% endif %}
                {% endblock quote_panel %}
                {% block img %}
                    {% if profile.img %}
                    <tr>
                        <td class="img-container cite-img" align="center">
                            <img src="{{ profile.img.url }}" width="{{ profile.img.width }}" alt="{{ profile.img.alt }}">
                        </td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                    {% endif %}
                {% endblock img %}
                {% block name %}
                    {% if profile.name %}
                    <tr>
                        <td height="10"></td>
                    </tr>
                    <tr>
                        <td class="cite-name">
                            {{ profile.name }}
                        </td>
                    </tr>
                    {% endif %}
                {% endblock name %}
                {% block detail %}
                    {% if profile.name %}
                    <tr>
                        <td height="5"></td>
                    </tr>
                    <tr>
                        <td class="cite-detail">
                            {{ profile.detail }}
                        </td>
                    </tr>
                    {% endif %}
               {% endblock detail %}
            </table>
        </td>
    </tr>
{% endblock column_1 %}
