{% set module = module|default({
    id: '',
    classes: '',
    header: 'Event Title',
    content: '7:30 p.m. | Bucknall Gym'
}) %}

<table class="table-event" width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
    {% block title %}
        {% if module.content %}
            <tr>
                <td class="header">
                    {{ module.header }}
                </td>
            </tr>
        {% endif %}
    {% endblock title %}
    {% block content %}
        {% if module.content %}
            <tr valign="top">
                <td class="content">
                    {{ module.content }}
                </td>
            </tr>
        {% endif %}
    {% endblock content %}
</table>