{% extends "@tmpl/module.html" %}

{% set module = module|default({
    id: '',
    classes: '',
    img: {
        url: "http://dummyimage.com/600x400/cccccc/333333.gif&text=placeholder+image",
        alt: 'image'
    },
    header: 'Full Width Text',
    content: 
        'Consectetur ornare neque mattis est scelerisque platea a parturient molestie parturient laoreet a proin ac. Fusce massa hendrerit venenatis vivamus sociis eu eu potenti elementum eu suspendisse consectetur mattis id arcu aliquet mus adipiscing congue adipiscing feugiat curabitur natoque parturient.
        <br>
        <br>
        Pulvinar mi nullam mi morbi eleifend a etiam adipiscing scelerisque curabitur a vestibulum condimentum natoque himenaeos condimentum et fames tincidunt habitasse scelerisque nam inceptos bibendum accumsan a parturient. Massa dignissim in id justo parturient augue cubilia nam lacinia a a quisque rutrum purus a a. Iaculis elit mus rhoncus eros dui torquent adipiscing tincidunt nisl mus platea pretium nam aliquam a nec gravida sem dis suscipit commodo felis vestibulum ad a. A parturient netus nunc iaculis volutpat ac ante ligula a pulvinar a consectetur luctus vestibulum a. Ad lacus et bibendum magnis aliquet lobortis elementum scelerisque cum molestie a tristique curabitur eu.
        <br>
        <br>
        Sed malesuada a parturient adipiscing a turpis netus hac a a quam enim vestibulum condimentum. Aptent nostra tincidunt imperdiet rutrum dignissim parturient purus aenean ac dis aliquet vestibulum donec a accumsan a id dui habitasse lorem in consectetur proin adipiscing aenean amet.
        <br>
        <br>
        Integer dapibus suspendisse risus tristique eu vestibulum semper a laoreet per per adipiscing a eros libero dictum imperdiet ligula ridiculus iaculis libero platea. Duis dignissim a ut lorem senectus suspendisse a hac viverra magnis a a parturient parturient aliquet a. Porttitor ad a integer adipiscing suspendisse vulputate eros parturient condimentum sed magna enim a platea scelerisque mus ac eu. Eu volutpat nam a dis parturient leo nam luctus pulvinar vestibulum suspendisse a habitasse fames.&nbsp;',
    link: {
        url: 'http://www.harker.org',
        text: 'CTA GOES HERE'
    }
}) %}

{% block module %}
    {% block img %}
        {% if module.img %}
            <tr>
                <td class="img-container" align="center">
                    <img class="img-full" src="{{ module.img.url }}" alt="{{ module.img.alt }}">
                </td>
            </tr>
            <tr>
                <td height="40"></td>
            </tr>
        {% endif %}
    {% endblock img %}
    {% block header %}
        {% if module.header %}
            <tr>
                <td class="header">
                    {{ module.header }}
                </td>
            </tr>
            <tr>
                <td height="15"></td>
            </tr>
        {% endif %}
    {% endblock header %}
    {% block content %}
        {% if module.content %}
            <tr>
                <td class="content">
                    {{ module.content|raw }}
                </td>
            </tr>
            <tr>
                <td height="20"></td>
            </tr>
        {% endif %}
    {% endblock content %}
    {% block link %}
        {% if module.link %}
            <tr>
                <td>
                    {% include "@tmpl/table-button.html" with { module: module.link } %}
                </td>
            </tr>
        {% endif %}
    {% endblock link %}
{% endblock module %}
