{% set module = module|default({
    id: '',
    classes: '',
    header: 'Content + CTA + Background Image',
    content: 'This is your supporting headline that works as a clarifying.',
    link: {
        url: 'http://www.harker.org',
        text: 'CTA GOES HERE'
    }
}) %}

<table id="{{ module.id }}" class="table-cta {{ module_classes(module.classes) }}" align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="background" align="center">
            <table class="table-full-center" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="background-shadow" align="center">
                        <table class="table-inner" align="center" width="550" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="40"></td>
                            </tr>
                            {% block header %}
                                {% if module.header %}
                                <tr>
                                    <td class="header">
                                        {{ module.header }}
                                    </td>
                                </tr>
                                <tr>
                                    <td height="15"></td>
                                </tr>
                                {% endif %}
                            {% endblock header %}
                            {% block content %}
                                {% if module.content %}
                                <tr>
                                    <td class="content">
                                        {{ module.content|raw }}
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                {% endif %}
                            {% endblock content %}
                            {% block link %}
                                {% if module.link %}
                                <tr>
                                    <td>
                                        {% include "@tmpl/table-button.html" with { module: module.link } %}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endblock link %}
                            <tr>
                                <td height="40"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>