{% set module = module|default({
    id: '',
    classes: '',
    img: {
        url: "#{email.img_dir_url}img0.png",
        alt: 'logo',
        width: '215'
    }
}) %}

<table id="{{ module.id }}" class="table-header-bar {{ module_classes(module.classes) }}" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table class="table-inner" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="logo-container" align="left">
                        <table class="table-full" border="0" cellspacing="0" cellpadding="0">
                            {% block logo %}
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <tr>
                                <td class="img-container" align="center">
                                    <img src="{{ module.img.url }}" alt="{{ module.img.alt }}" width="{{ module.img.width }}">
                                </td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                            </tr>
                            {% endblock %}
                        </table>
                    </td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
</table>