{% set defaults = {
    padding_top: 80,
    padding_bottom: 80
} %}

{% set module = module|default({
    id: '',
    classes: '',
    background_img: "#{ROOT_IMG_DIR_URL}header-bg-1.jpg",
    img: {
        url: "#{email.img_dir_url}img1.png",
        alt: 'Harker',
        width: '260'
    },
    subtitle: 'A SUBTITLE CAN GO HERE, MAYBE SOME IMPORTANT INFO OR NOTHING AT ALL',
    link: {
        url: 'http://www.harker.org',
        text: 'CTA GOES HERE'
    }
}) %}

{% set module = defaults|merge(module) %}

<table id="{{ module.id }}" class="table-header-bg {{ module_classes(module.classes) }}" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td class="background" align="center" background="{{ module.background_img }}" style="background-image: url({{ module.background_img }})">
            <table class="table-inner" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                {% block inner %}
                    {% if module.padding_top %}
                        <tr>
                            <td height="{{ module.padding_top }}"></td>
                        </tr>
                    {% endif %}             
                    {% block img %}
                        {% if module.img %}
                        <tr>
                            <td class="img-container" align="center">
                                <img src="{{ module.img.url }}" alt="{{ module.img.alt }}" width="{{ module.img.width }}">
                            </td>
                        </tr>
                        {% endif %}
                    {% endblock img %}
                    {% block title %}
                        {% if module.title and not module.img %}
                        <tr>
                            <td class="title" align="center">
                                {{ module.title }}
                            </td>
                        </tr>
                        {% endif %}
                    {% endblock title %}
                    {% block subtitle %}
                        {% if module.subtitle %}
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td class="subtitle" align="center">
                                {{ module.subtitle }}
                            </td>
                        </tr>
                        {% endif %}
                    {% endblock subtitle %}
                    {% block link %}
                        {% if module.link %}
                        <tr>
                            <td height="40"></td>
                        </tr>
                        <tr>
                            <td align="center">
                                {% include "@tmpl/table-button.html" with { module: module.link|merge({
                                    type: module.link.type|default('secondary'),
                                    align: 'center'
                                }) } %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endblock link %}
                    {% if module.padding_bottom %}
                        <tr>
                            <td height="{{ module.padding_bottom }}"></td>
                        </tr>
                    {% endif %} 
                {% endblock inner %}
            </table>
        </td>
    </tr>
</table>
