{% set module = module|default({
    date: 'Jan 1',
    events: [
        {
            header: 'Event Title 1',
            content: '7 p.m. | Saratoga Campus'
        },
        {
            header: 'Event Title 2',
            content: '7 p.m. | Saratoga Campus'
        },
        {
            header: 'Event Title 3',
            content: '7 p.m. | Saratoga Campus'
        }
    ]
}) %}

{% block date_label %}
    <table class="table-full" width="60" border="0" align="left" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <table class="table-date" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="date" height="60">
                            {{ module.date }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="1" border="0" cellpadding="0" cellspacing="0" align="left">
        <tr>
            <td height="20" style="font-size: 0;line-height: 0;border-collapse: collapse;">
                <p style="padding-left: 14px;">&nbsp;</p>
            </td>
        </tr>
    </table>
{% endblock date_label %}
{% block events %}
    <table class="table-full" width="200" border="0" align="right" cellpadding="0" cellspacing="0">
        {% for event in module.events %}
            {% block event %}
            <tr>
                <td align="left">
                    {% include "@tmpl/table-event.html" with { module: event } only %}
                </td>
            </tr>
            <tr>
                <td height="10"></td>
            </tr>
            {% endblock event %}
        {% endfor %}
    </table>
{% endblock events %}