{% extends "modules/grid.html" %}

{% set defaults = {
    module_class: "module-topbar module-topbar-text",
    column_count: 2,
    gutter_height: 1,
    columns: [
        {
            width: "231",
            elements: [
                {
                    template: "img",
                    options: {
                        class: "logo-container",
                        src: module.img.src|default("#{ROOT_IMG_DIR_URL}/harker-logo.png"),
                        alt: module.img.alt|default("Harker Logo"),
                        width: module.img.width|default(183),
                        height: module.img.height|default(32),
                        img_class: module.img.class|default("")
                    }
                }
            ]
        },
        {
            width: "349",
            elements: [
                {
                    template: "grid",
                    options: {
                        class: "topbar-links",
                        stack: false,
                        fix_rounding: false,
                        column_count: 3,
                        column_direction: "rtl",
                        gutter_height: 20,
                        columns: [
                            {
                                width: 44,
                                elements: [
                                    {
                                        template: "content",
                                        options: {
                                            text: "<a href=\"#\">Portal</a>"
                                        }
                                    }
                                ]
                            },
                            {
                                width: 44,
                                elements: [
                                    {
                                        template: "content",
                                        options: {
                                            text: "<a href=\"#\">News</a>"
                                        }
                                    }
                                ]
                            },
                            {
                                width: 44,
                                elements: [
                                    {
                                        template: "content",
                                        options: {
                                            text: "<a href=\"#\">Home</a>"
                                        }
                                    }
                                ]
                            }
                        ]
                    }
                }   
            ]
        }
    ]
} %}

{% set module = defaults|merge( module|default({}) ) %}
                        